streamlit
langchain
langchain-core
langchain-community
langchain-chroma
chromadb==0.4.14
google-generativeai
pymupdf
python-docx
docx2txt
sentence-transformers
numpy
scikit-learn
tqdm
pysqlite3-binary
